body {
    background: linear-gradient(to right, #ff9a9e, #fad0c4);
    font-family: Arial, sans-serif;
    text-align: center;
    color: white;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
    text-transform: uppercase;
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffee, #2400ff, #7a00ff, #ff00b3);
    background-size: 400% 400%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-stroke: 1px white;
    animation: rainbowText 6s infinite linear;
}

@keyframes rainbowText {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.hidden {
    display: none;
}

.buttons button, .logout-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    margin: 5px;
    cursor: pointer;
}

.logout-btn {
    background-color: red;
}

.buttons button:disabled {
    background-color: #A9A9A9;
    cursor: not-allowed;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: white;
    color: black;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

li:hover {
    background-color: #ddd;
}
